
body{
    font-size: 130%;
    .AnimationBox{
        height: 100px;
        width: 100px;
        background-color: yellow;
        margin-left: 100px;
        display: inline-block;
    }
    pre{
        background-color: black;
        color: green;
    }
}