*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: radial-gradient(white, rgba(0, 0, 0, 0.663));
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow-y: scroll;
    display: grid;
    padding: 10px;
    grid-template-columns: 23fr 1fr;

    &::-webkit-scrollbar{
        display: none;
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%; /* Make sure the image doesn't exceed its container */
                height: auto; /* Maintain aspect ratio */
                max-height: 70vh;
                min-height: 70vh;
            }
        }
        .cat-fact-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
    }
    button {
        outline: none;
        border: none;
        border-radius: 20px;
        background: linear-gradient(rgba(128, 128, 128, 0) 10%, white, rgba(114, 114, 114, 0) 90%);
        font-size: 2rem;
        height: calc(100vh - 200px); 
        color: red;
        position: absolute;
        right: 30px;
        top: 100px;
        width: 48px;
    }
}



@media screen and (max-width: 720px) {
    body {
        display: flex;
        justify-content: center;
        height: calc(100vh - 50px);
        section img {
            width: auto; 
            max-height: 500px;
        }
        button{
            position: fixed;
            bottom: 10px;
            width: 90%;
        }
    }
    }