<Nav>
    <button (click)="navigatToRoute()"><i class="bi bi-list"></i></button>
    <section class="tools">
        <a href=""><i class="bi bi-house-door-fill"></i></a>
        <a href="" class ="bi"><b> Notes </b><i class="bi bi-archive"></i></a>
        <div class="search">
            <input type="text" placeholder=" Search...">
        </div>
    </section>
    <section class="contact">
        <i class="bi bi-instagram iconShadow"></i>
        <i class="bi bi-meta iconShadow"></i>
        <i class="bi bi-linkedin iconShadow"></i>
        <i class="bi bi-envelope-at-fill iconShadow"></i>
    </section>
</Nav>
